ALLOWED_SENDER_DOMAINS=localhost

APPLICATION_COMMIT_HASH=HEAD
APPLICATION_ENV=development
APPLICATION_NAME=DataBait
APPLICATION_VERSION=0.1.0

MAIL_DOMAIN=localhost
MAIL_RELAY_HOST=
MAIL_RELAY_PORT=25

MYSQL_DATABASE=databait
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=password
MYSQL_USERNAME=root

RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin
RABBITMQ_DEFAULT_VHOST=/

TZ=UTC

XDEBUG_MODE=debug
# optionnel: valeur par défaut du trigger (ex: "phpstorm")
XDEBUG_TRIGGER=phpstorm
# si tu veux forcer le nom de serveur pour PhpStorm path mapping
PHP_IDE_CONFIG=serverName=php-fpm
